<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Users</title>
</head>
<body>
	<h1>Epic Tasks</h1>
	
	<h2>Users</h2>
	
	<a href="/user/register">Novo Usuário</a>
	
	<ul th:each="u: ${users}">
		<li>
			<p th:text="${u.name}"></p>
			<p th:text="${u.email}"></p>
			<p th:text="${u.password}"></p>
		</li>
	</ul>
</body>
</html>